discord.py>=2.6,<3
aiohttp>=3.13,<4
gTTS>=2.5,<3
PyNaCl>=1.5,<2
python-dotenv>=1.1,<2
aiosqlite>=0.21,<1
faster-whisper==1.2.1
discord-ext-voice-recv @ git+https://github.com/imayhaveborkedit/discord-ext-voice-recv.git@ac04ea7b0941112e83767cf1c1469b408fa06748
